<div class="footer">
    <p>Kontak Admin :</p>
    <div>
        <div style="display: flex;flex-direction: row; align-items: center;">
            <img src="/images/icon/whatsapp.png" alt="wa" width="15px" style="margin-right: 8px;"><span>Whatsapp: +62-85263422340</span><br>
        </div>
        <div style="display: flex;flex-direction: row; align-items: center;">
            <img src="/images/icon/mail.png" alt="wa" width="15px" style="margin-right: 8px;">
            <span>Email: lyft0@protonmail.com</span>
        </div>
    </div>
</div>