<label for="req_by">Requested By</label><input type="text" name="req_by" id="req_by">
<label for="req_for">Requested For</label><input type="text" name="req_for" id="req_for">
<p>General Information</p>
<label for="no_pekerja">Nomor Pekerja</label><input type="text" name="no_pekerja" id="no_pekerja"><br>
<label for="nama_req">Nama Requestor</label><input type="text" name="nama_req" id="nama_req"><br>
<label for="fungsi">Fungsi</label><input type="text" name="fungsi" id="fungsi"><br>
<label for="perusahaan">Perusahaan</label><input type="text" name="perusahaan" id="perusahaan"><br>
<label for="no_kontak">Nomor Kontak</label><input type="text" name="no_kontak" id="no_kontak"><br>
<label for="email">Email</label><input type="email" name="email" id="email"><br>
<label for="gedung">Gedung</label><input type="text" name="gedung" id="gedung"><br>
<label for="desc_req">Deskripsi Request</label><input type="text" name="desc_req" id="desc_req"><br>