<div class="navbar">
    <div class="navbar-1">
        <p style="font-family: 'League Spartan', sans-serif; font-size: 1.3em; padding-top: 3px;">OFSER</p>
        <a href="/home-ful" style="text-decoration: none; color: white;">Dashboard</a>
        <a href="/ticket-console" id="ticket-request" style="text-decoration: none; color: white;">Ticket Console</a>
        <div class="search-group">
            <input type="search" id="input-search" placeholder="REQ:ID or WO:ID"/>
            <button type="button" id="btn-search">
                <img src="/images/icon/search.png" alt="search" width="12px">
            </button>   
        </div>
    </div>
    <div class="navbar-2">
        <p>Welcome, <span id="user-name" style="font-weight: 400;"></span></p>
        <a href="#" id="profile" style="padding-top: 1px;">
            <img id="profile_img" src="" alt="profile" width="32px" style="border-radius: 50px; border: 1px solid black;">
        </a>
    </div>
</div>