<div class="navbar">
    <div class="navbar-1">
        <p style="font-family: 'League Spartan', sans-serif; font-size: 1.3em; padding-top: 3px;">OFSER</p>
        <a href="/home-req" style="text-decoration: none; color: white;">Home</a>
        <a href="" id="my-request" style="text-decoration: none; color: white;">My Request</a>
    </div>
    <div class="navbar-2">
        <p>Welcome, <span id="user-name" style="font-weight: 400;"></span></p>
        <a href="#" id="profile" style="padding-top: 1px;">
            <img id="profile_img" src="" alt="profile" width="32px" style="border-radius: 50px; border: 1px solid black;">
        </a>
    </div>
</div>