<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form id="login">
        <label for="email">Email</label><input type="email" name="email" id="email"><br>
        <label for="password">Password</label><input type="password" name="password" id="password"><br>
        <button type="submit">Login</button>
    </form>
    <script>
        document.getElementById('login').addEventListener('submit', (event) => {
            event.preventDefault()
            fetch('/login-user', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    'email': document.getElementById('email').value,
                    'password': document.getElementById('password').value,
                })
            })
            .then((response) => response.json())
            .then((data) => window.location.href = data.redirect)
            .catch((err) => {
                console.log(err)
            })
        })
            
    </script>
</body>
</html>