<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Request Workstation & Furniture</title>
</head>
<body>
    <h1>Request Workstation & Furniture</h1>
    <form id="form-request">
        <%- include('./partials/form_general_info.ejs') %> 

        <p>Request Details</p>
        <label for="tgl_terima">Tanggal Pengambilan/Penerimaan</label><input type="date" name="tgl_terima" id="tgl_terima"><br>
        <label for="lokasi_terima">Lokasi Penerimaan</label><input type="text" name="lokasi_terima" id="lokasi_terima"><br>

        <label for="jenis_workfurn">Jenis Produk</label><br>
        <select name="jenis_workfurn" id="jenis_workfurn">
            <option value='' selected disabled hidden>Pilih Jenis</option>
            <% jenis_workfurn.forEach(jenis => { %>
                <option><%= jenis %></option>    
            <% });%>
            <option value="Lainnya">Lainnya</option> 
        </select><br>
        <label for="nama_workfurn">Nama Produk</label><br>
        <select name="nama_workfurn" id="nama_workfurn">
            <option value='' selected disabled hidden>Pilih Produk</option>
        </select>
        <input type="text" name="nama_workfurn_lainnya" id="nama_workfurn_lainnya" style="display: none;"><br>
        <label for="jumlah">Jumlah Produk</label><br>
        <input type="number" name="jumlah" id="jumlah" min="1" value="1"><br>
        <label for="desc_workfurn">Deskripsi Produk</label><br>
        <textarea name="desc_workfurn" id="desc_workfurn" cols="30" rows="5"></textarea><br>
        <button type="button" id="add-item">Add</button>

        <table border="1" id="item">
            <tr>
                <th>Nama Produk</th>
                <th>Jenis Produk</th>
                <th>Jumlah</th>
                <th>Deskripsi Produk</th>
                <th id="del_td"></th>
            </tr>
            <tbody id="item-list"></tbody>
        </table>
        <button type="submit" id="submit">Submit</button>
    </form>
    
    <script src="/scripts/workfurn/listWorkfurn.js"></script>
    <script src="/scripts/workfurn/itemWorkfurn.js"></script>
    <script src="/scripts/workfurn/requestWorkfurn.js"></script>
</body>
</html>
