<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Request ATK</title>
</head>
<body>
    <h1>Request ATK</h1>
    <form id="form-request">
        <%- include('../partials/form_general_info.ejs') %> 

        <p>Request Details</p>
        <label for="tgl_terima">Tanggal Pengambilan/Penerimaan</label><input type="date" name="tgl_terima" id="tgl_terima"><br>
        <label for="lokasi_terima">Lokasi Penerimaan</label><input type="text" name="lokasi_terima" id="lokasi_terima"><br>

        <label for="jenis_atk">Jenis Produk</label><br>
        <select name="jenis_atk" id="jenis_atk">
            <option value='' selected disabled hidden>Pilih Jenis ATK</option>
            <% jenis_atk.forEach(jenis => { %>
                <option><%= jenis %></option>    
            <% });%>
            <option value="Lainnya">Lainnya</option> 
        </select><br>
        <label for="nama_atk">Nama Produk</label><br>
        <select name="nama_atk" id="nama_atk">
            <option value='' selected disabled hidden>Pilih Produk</option>
        </select>
        <input type="text" name="nama_atk_lainnya" id="nama_atk_lainnya" style="display: none;"><br>
        <label for="jumlah">Jumlah Produk</label><br>
        <input type="number" name="jumlah" id="jumlah" min="1" value="1"><br>
        <label for="desc_atk">Deskripsi Produk</label><br>
        <textarea name="desc_atk" id="desc_atk" cols="30" rows="5"></textarea><br>
        <button type="button" id="add-item">Add</button>

        <table border="1" id="item">
            <tr>
                <th>Nama Produk</th>
                <th>Jenis Produk</th>
                <th>Jumlah</th>
                <th>Deskripsi Produk</th>
                <th id="del_td"></th>
            </tr>
            <tbody id="item-list"></tbody>
        </table>
        <button type="submit" id="submit">Submit</button>
    </form>
    
    <script src="/scripts/atk/listAtk.js"></script>
    <script src="/scripts/atk/itemAtk.js"></script>
    <script src="/scripts/atk/requestAtk.js"></script>
    <script src="/scripts/cookiesGeneralInfo.js"></script>
</body>
</html>
